<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>World.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>939AE3A52E735AC7000B8663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939AE3BB2E735ACC000B8663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939AE3C52E735ACC000B8663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
